/* Change to your desired hover color */
body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  padding-top: 0px;
  background-color: #f9f9f9;
  align-items: top; /* Changed from center to flex-start to align items from the top */
  height: 100vh;
  padding-left: 500px;
  padding-right: 100px;
}
@media (max-width: 70em) {
  body {
    justify-content: center; /* Center the content on mobile */
    padding-left: 50px;
    padding-right: 100px; /* Ensure no padding cuts off content */
    padding-top: 100px;
  }
}

a {
  text-decoration: none;
  color: orangered;
  margin: 5px 0;
}

a:hover {
  text-decoration: underline;
}

.project {
  background-color: rgb(255, 255, 255);
  padding: 50px;
  position: relative;
  padding-top: 100px;
  max-width: 600px;
  width: 100%;
  padding-left: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  background-color: orange;
}

.wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bottom-item {
  margin-top: 320px;
  padding: 50px;
  text-align: right;
  border-radius: 5px;
  border: #333;
  border-width: 0cap;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; /* Adjust the weight as needed for the heading */
  font-size: 1em; /* Adjust the size as needed for the heading */
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px; /* Adjust the width of the sidebar as needed */
  height: 100%;
  background-color: white; /* Adjust the background color as needed */
  z-index: 1000; /* Ensures the header stays on top */
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for better visibility */
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px; /* Adjust padding as needed */
  overflow-y: auto; /* Makes the sidebar scrollable if it gets too tall */
  font-family: "DM Sans", sans-serif;
  padding-left: 50px;
}
.topnav button {
  position: fixed;
  right: 3em;
  background: none;
  border: none;
  padding: 0;
  margin-inline-start: auto;
}
@media (width >= 70em) {
  .topnav button {
    display: none;
  }
}
.topnav__open[aria-expanded=true] + .topnav__menu {
  translate: 0;
}
.topnav__links {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  flex-direction: column;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500; /* Adjust the weight as needed for the heading */
  font-size: 1em; /* Adjust the size as needed for the heading */
}
.topnav__link {
  text-decoration: none; /* Remove underline */
  color: #333; /* Use primary color for text */
  transition: color 0.3s; /* Smooth transition for hover effect */
}
.topnav__item {
  list-style-type: none;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo {
  display: flex;
  width: 50px; /* Adjust the size of the logo as needed */
  height: auto;
  margin-bottom: 20px;
  align-items: left;
  flex-direction: column;
}

.dm-sans-heading {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600; /* Adjust the weight as needed for the heading */
  font-size: 3.5em; /* Adjust the size as needed for the heading */
  margin-bottom: 20px;
  text-align: left;
}

.dm-sans-subheading {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900; /* Adjust the weight as needed for the heading */
  font-size: 2.5em; /* Adjust the size as needed for the heading */
  margin-bottom: 20px;
  text-align: left;
}

.dm-sans-light {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200; /* Adjust the weight as needed for the heading */
  font-size: 3em; /* Adjust the size as needed for the heading */
  margin-bottom: 20px;
  text-align: left;
}

.dm-sans-body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; /* Adjust the weight as needed for the heading */
  font-size: 1.5em; /* Adjust the size as needed for the heading */
  margin-bottom: 20px;
  text-align: left;
}

.content {
  margin-left: 250px; /* Adjust this value to match the width of the sidebar */
  padding: 20px;
  flex: 1; /* Allows the content to take up the remaining space */
}

input {
  margin: 20px 0;
  width: 100%;
  padding: 10px;
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Media Query for Small Screens */
@media (max-width: 70em) {
  .topnav {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Center align items vertically */
    padding: 20px;
  }
  .topnav__menu {
    background-color: rgb(0, 255, 64);
    position: fixed;
    inset: 0;
    padding: 50px;
    translate: 150vw 0;
    transition: translate 0.5s ease-in-out;
  }
  .topnav__links {
    flex-direction: column;
  }
  .logo {
    width: 40px; /* Adjust the size of the logo for small screens */
    margin-bottom: 50;
  }
  .dm-sans-heading {
    font-size: 2em; /* Adjust the size for small screens */
    margin-bottom: 0;
  }
  .content {
    margin-left: 0;
    padding-top: 30px; /* Space for the header */
  }
}/*# sourceMappingURL=styles.css.map */