/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #333; /* Dark background color */
  color: #fff;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

header {
  background: rgba(17, 17, 17, 0.8); /* Dark header background color */
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: 'Arial Black', sans-serif; /* Distinctive font */
  font-size: 36px;
}

.contact-button {
  padding: 10px 20px;
  background-color: #FF5733; /* Adjust button color as needed */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 1s ease;
}

.contact-button:hover {
  background-color: #FF8C66; /* Adjust hover color as needed */
}

section {
  padding: 50px 0;
}

.reel-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.reel-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-background {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

#video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video-background .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#gallery {
  padding: 50px 0;
}

#gallery h2 {
  text-align: center;
  margin-bottom: 30px;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 50px;
}

.gallery-images img {
  width: 100%;
  border-radius: 5px;
  transition: transform 0.1s ease;
}

.gallery-images img:hover {
  transform: scale(1.01);
}

footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.8); /* Dark footer background color */
  padding: 20px 0;
}
